*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
}

.container{
    width:400px;
    background:#1e293b;
    padding:40px;
    border-radius:20px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:14px;
    margin-bottom:18px;
    border:none;
    border-radius:10px;
    background:#0f172a;
    color:white;
    outline:none;
}

input::placeholder{
    color:#94a3b8;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    transition:0.3s;
    margin-bottom:12px;
}

button:hover{
    background:#1d4ed8;
}